**/.log
**/.swp
.DS_Store
.env
.eslintcache
.history
.idea
.serverless
.vscode
build
config-prod.json
dist
logs
node_modules
npm-debug.log*
private
smtp-account-config.json
src/config/appConfig.js
TODO
yarn-debug.log*
yarn-error.log*
